body {
    font-family: 'Courier New', Courier, monospace;
    background-color: rgb(27, 154, 154);
}

div {
    height: 300px;
    width: 300px;
    background-color: rgb(224, 224, 192);
    border-radius: 8px;
}